*
{
    font-size: 12px;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #424242;
    line-height: 150%;
}

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

#footer
{
    /*
    position: absolute;
    bottom: 0;
    */
    margin: -35px 0 0 0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-top: 1px solid #E3EAF1;

    background-color: whitesmoke;
}

a
{
    text-decoration: none;
    color: #2768B1;
}

a:hover, #left a:hover, #footer a:hover
{
    color: #5A8FCC;
}

#left a, #footer a
{
    color: #424242;
}

li
{
    margin-bottom: 5px;
}

#container
{
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

code, .mono, .codeblock, .codeblock *
{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 14px;
}

code
{
    background-color: #F2F2F2;
}

.console
{
    background-color: black;
    padding: 5px;
}

.console, .console *
{
    color: white;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: normal;
}

.commandline
{
    color: white;
}

#intro_code
{
    overflow: hidden;
    border: 1px solid #B8CADE;
}

#intro_code *
{
    line-height: normal;
}

.fixedfont *
{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 14px;
}

h2
{
    margin-top: 0;
}

#center
{
    margin-left: 50px;
}

#header
{
    padding: 20px 0 40px 250px;
    max-width: 500px;
    color: #2768B1;
    font-size: 21px;
}

.color
{
    color: #2768B1;
}

#left
{
    display: inline-block;
    width: 190px;
    position: absolute;
    top: 120px;
}

#left *
{
    line-height: normal;
}

#right
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 200px;
    background: white;
    width: 700px;
    margin-bottom: 50px;
}

.menu_item,.sub_menu_item
{
    display: block;
}

.menu_item
{
    margin-bottom: 11px;
}

.sub_menu_item
{
    margin-bottom: 7px;
    color: #666;
}

.content
{
    display: none;
    padding-bottom: 45px;
}

.highlight
{
    background-color: #FDFCE7;
}

.selected, .selected *
{
    color: #2768B1 !important;
}

.sub_menu
{
    display: none;
    margin: -3px 0 15px 15px;
}

.attribute_wrapper
{
    padding-top: 30px;
}

.attribute
{
    border: 1px solid #B8CADE;
    padding: 5px;
    margin-bottom: 20px;
}

.content h3
{
    margin: 20px 0 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #2768B1;
}

h4
{
    margin: 10px 0 5px;
    padding-bottom: 3px;
}

h4 + p
{
    margin-top: 7px;
}

.attribute_name
{
    margin-bottom: 3px;
    padding: 5px;
    background-color: #E3EAF1;
    color: white;
    border-bottom: 2px solid #2768B1;
    color: #2768B1;
    margin: -5px;
    font-size: 14px;
}

.attribute_property
{
    margin: 8px 0 12px;
}

.attribute_property_name
{
    text-indent: 8px;
    color: #424242;
}

.attribute_description
{
    margin-top: 6px;
}

.attribute_property_description
{
    margin-top: 2px;
    margin-left: 16px;
}

.grumble
{
    position: absolute;
}

#grumble_intro_code_4
{
    position: absolute;
    top: 150px;
    left: 30px;
}

.grumble-text *
{
    color: white;
}

.code_keyword
{
    color: #0000FF
}

.code_type
{
    color: #548FC7;
}

.code_string
{
    color: #A31515;
}

.seq
{
    visibility: hidden;
}

#noscript
{
    border: 3px dashed red;
    padding: 15px 20px;
    position: relative;
    top: 140px;
}

#noscript *
{
    font-size: 18px;
}

#share
{
    position: fixed;
    bottom: 9px;
    left: 10px;
    opacity: 0.6;
    min-width: 200px;
}

#share:hover
{
    opacity: 1;
}

.note
{
    border: 1px solid #BBD1E8;
    padding: 0 10px;
}

.note h4
{
    padding-bottom: 3px;
    border-bottom: 1px solid #2768B1;
}
