*
{
    font-size: 0.95em;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    color: #666;
}

html, body
{
    padding: 0;
    margin: 30px 0 30px;
    height: 100%;
}

a
{
    text-decoration: none;
    font-weight: bold;
}

a:hover
{
    color: #E06383;
}

h2
{
    margin-top: 0;
}

#container
{
    margin-left: 50px;
}

#top
{
    height: 80px;
    left: 200px;
    position: relative;
    max-width: 500px;
}

#top h2
{
    color: #E02A59;
}

#left
{
    display: inline-block;
    width: 150px;
    text-align: right;
    position: fixed;
    top: 150px;
}

#right
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 200px;
    background: white;
    width: 700px;
}

.menu_item,.sub_menu_item
{
    display: block;
}

.menu_item
{
    margin-bottom: 11px;
}

.sub_menu_item
{
    margin-bottom: 7px;
    color: #888;
}

.content
{
    display: none;
}

.code
{
    font-family: Consolas, fixed;
    font-weight: bold;
    font-size: 1.1em;
}

.highlight
{
    background-color: #FEFDD3;
}

.selected
{
    color: #E02A59;
}

.sub_menu
{
    display: none;
    margin: -3px 0 20px;
    border-right: 1px dotted #E02A59;
    padding-right: 3px;
    margin-right: 1px;
}

.attribute
{
    border: 1px solid #E0B3BF;
    padding: 5px;
    margin-bottom: 10px;
}

.attribute h3
{
    margin: 20px 0 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #FFEFF3;
}

.attribute_name
{
    margin-bottom: 3px;
    padding: 6px;
    background-color: #FFEFF3;
    color: #424242;
}

.attribute_property_name
{
    margin-top: 8px;
    text-indent: 8px;
    color: #424242;
}

.attribute_description
{
    margin-top: 6px;
}

.attribute_property_description
{
    margin-top: 2px;
    text-indent: 16px;
}
